body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size:50px;
}
h2{
    font-size: 25px;
}
.name-color{
    color: orange;
}
.flexible-contant{
    display: flex;
    padding-left: 5%;
    margin-bottom: 110px;

}
.half-width{
    width: 50%;

}
.half-width img{
width: 80%;

}
.link-b{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    border-radius: 7px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;

    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.dream-big{
    
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   
   
}
.experience-item{
    box-shadow: 10px 10px 40px rgb(114, 102, 102);
    width: 40%;
    margin-left: 5%;
    padding-left: 10px;
    border-radius: 10px;
}
#another{
    border-left: 7px solid;
   border-image: linear-gradient(red,rgb(245, 157, 141));
   border-image-slice: 1;
}
#another-part{
    border-left: 7px solid;
    border-image: linear-gradient(blue,rgb(73, 189, 235));
    border-image-slice: 1;
}
footer{
    text-align: center;
}